fastapi==0.110.0
uvicorn==0.29.0
pydantic==2.5.3
numpy==1.25.2
requests==2.31.0
python-multipart==0.0.9
librosa==0.10.1
soundfile==0.12.1
tensorflow==2.15.0
keras==2.15.0
openai-whisper==20231117
ffmpeg-python==0.2.0
transformers==4.42.0
huggingface-hub==0.23.0
sentencepiece==0.1.99
pyannote.audio==2.1.1
