
fastapi
uvicorn
pydantic
numpy
requests
torch==2.2.2
torchaudio==2.2.2
librosa==0.10.1
soundfile==0.12.1
tensorflow==2.15.0
openai-whisper==20231117
ffmpeg-python==0.2.0
transformers==4.42.0
python-multipart
pyannote.audio==2.1.1
keras==2.15.0  


git
curl
supervisor  
